SampleMetaDataXMLSchema.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/EARTHTIME/Schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SampleMetaData">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This schema defines the contents of the SampleMetaData file
                used by ET_Redux to specify the fractions written by Tripoli
                during live workflow.

                Copyright 2006-2016 James F. Bowring and EARTHTIME.

                Licensed under the Apache License, Version 2.0 (the "License");
                you may not use this file except in compliance with the License.
                You may obtain a copy of the License at

                http://www.apache.org/licenses/LICENSE-2.0

                Unless required by applicable law or agreed to in writing, software
                distributed under the License is distributed on an "AS IS" BASIS,
                WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
                See the License for the specific language governing permissions and
                limitations under the License.

                Author: James F. Bowring[smtp:bowring@gmail.com]

                Created: 1.August.2007

            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="sampleName"/>
                <xs:element type="xs:string" name="sampleAnalysisFolderPath"/>
                <xs:element name="fractionsMetaData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FractionMetaData">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="fractionID"/>
                                        <xs:element type="xs:string" name="aliquotName"/>
                                        <xs:element type="xs:string" name="fractionXMLUPbReduxFileName__U"/>
                                        <xs:element type="xs:string" name="fractionXMLUPbReduxFileName__Pb"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
